@{
    ViewData["Title"] = "Db";
}

<h1 class="display-4">Робота з базами даних</h1>
<p>
    Бази даних, по відношенню до веб-сервера із сайтом, можна поділити на 
    локальні та віддалені. Локальні розміщуються на тому ж ресурсі, віддалені - 
    на іншому. Робота з локальними БД простіше налаштовується і є більш 
    швидкою, але не дає змоги переносити сам веб-сервер або публікувати сайт 
    на сторонньому хостінгу.
</p>
<p>
    В ASP, як і у .NET, поширена практика роботи з БД засобами EntityFramework. 
    Для його налаштування встановлюємо додаткові модулі (NuGet)
</p>

<ul>
    <li>Microsoft.EntityFrameworkCore - ядро фреймворка</li>
    <li>Microsoft.EntityFrameworkCore.Tools - засоби для командного рядка (міграції)</li>
    <li>Pomelo.EntityFrameworkCore.MySql - драйвери для роботи з MySql</li>
</ul>

<h2>Підключення</h2>
<p>
    Конфігурація. Паролі до віддалених БД не можна передавати у відкриті 
    репозиторії. Зокрема, PlanetScale автоматично скасовує пароль, якщо 
    знаходить його у такому. Для запобігання цьому створюється окремий 
    файл конфігурації, який вилучається з репозиторію. 
</p>