@{
    ViewData["Title"] = "Homework Page";
}

<h1 class="display-4">Homework 11.11.2023</h1>
<h3>
    <a href="/Home/Task1">Task 1</a>
</h3>
<h3>
    <a href="/Home/Task2">Task 2</a>
</h3>
<h3>
    <a href="/Home/Task3">Task 3</a>
</h3>
<h3>
    <a href="/Home/Task4">Task 4</a>
</h3>
<h3>
    <a href="/Home/Task5">Task 5</a>
</h3>
