@{
    ViewData["Title"] = "Вступ";
}
<h1>@ViewData["Title"]</h1>

<h3>Структура проєкту</h3>
<p>
    Проєкт складається з кількох структурних частин.
    wwwroot - корень "сторінки" - те, що безпосередньо доступно з браузера. 
    Тут стилі, картинки тощо.

    <code>Controllers</code> - класи управління групами сторінок. За 
    замовчанням, в ASP прийнята маршрутизація
    <strong>/Controller/Action</strong>. Один контролер обслуговує декілька 
    сторінок шляхом вибору методу за іменем, яке збігається з частиною 
    маршруту "Action"

    <code>Views</code> - представлення. Також групуються за іменами контролерів
    (папки з їх іменами). Імена самих представлень відповідають методам 
    ("Action") і також автоматично визначаються інструкціями 
    <code>returnView();</code><br/> Представлення стає частиною шаблона 
    _Layout, який знаходиться у папці Shared. <br/>

    <code>Models</code> - моделі (у розумінні ASP) - класи, що призначені для 
    передачі даних (комплексу даних) між Контрлерами та Представленнями. 
</p>
<p>
    Наприклад, додаємо нову сторінку <code>/Home/Razor</code>.
    <ul>
        <li>1. У HomeController створюємо новий метод, назва якого
            відповідає маршруту (Razor), а сигнатура - з іншими методами.</li>
        <li>2. Створюємо Представлення (View) у папці View/Home з
            такою ж назвою.
        </li>
        <li>3. Розміщуємо посилання на цю сторінку в інтерфейсі проєкту.</li>
    </ul>
</p>
