@model _11112023ClassWork.Models.Home.Task1ViewModel
@{
    ViewData["Title"] = "Task1";
}
<h1 class="display-4">Current day of the year</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Параметр</th>
            <th>Значення</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Поточний день року</td>
            <td>@Model.DayOfYear</td>
        </tr>
    </tbody>
</table>