@model _11112023ClassWork.Models.Home.Task2ViewModel
@{
    ViewData["Title"] = "Task2";
}
<h1 class="display-4">Random Letter</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Параметр</th>
            <th>Значення</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Random Letter</td>
            <td>@Model.RandomLetter</td>
        </tr>
    </tbody>
</table>